<div class="diary-container">
  
  <app-quote-card></app-quote-card>

  <header class="diary-header">
    <h1>Diario de Progreso</h1>
    <p>Un espacio seguro para registrar tus sentimientos y reflexionar sobre tu viaje.</p>
    <button mat-flat-button color="primary" (click)="openJournalEntry()">
      <mat-icon>add_circle_outline</mat-icon>
      Añadir Nueva Entrada
    </button>
  </header>

  <div class="entries-list">
    <div *ngIf="entries.length === 0" class="no-entries">
      <p>Aún no has escrito ninguna entrada.</p>
      <span>¡Haz clic en "Añadir Nueva Entrada" para comenzar!</span>
    </div>

    <div class="entry-card" *ngFor="let entry of entries">
      <div class="entry-card-header">
        <div class="title-group">
            <span *ngIf="challengeDayMap.get(entry.date) as day" class="day-pill">
              Día {{ day }}
            </span>
            <h2>{{ entry.title }}</h2>
        </div>
        <span>{{ entry.date | date:'longDate' }}</span>
      </div>
      <p class="entry-notes">{{ entry.notes }}</p>
      <div class="entry-card-footer">
        <div class="dots-container">
          <div *ngFor="let emotionId of entry.emotionIds"
               class="emotion-dot"
               [style.background-color]="getEmotionColorFromId(emotionId)">
          </div>
        </div>
        <div>
          <button mat-icon-button (click)="openJournalEntry(entry)" aria-label="Editar entrada">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteEntry(entry.date)" aria-label="Borrar entrada">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>