:host {
  --primary: var(--primary-color);
  --font-color: var(--font-color);
  --background: var(--background-color);
  --border-color: #f1f3f5;
}

.calendar-container {
  flex-grow: 1;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.08);
  padding: 2.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;

  h2 {
    font-weight: 500;
    font-size: 1.75rem;
    color: var(--font-color);
    margin: 0;
  }

  button {
    color: var(--font-color);
  }
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 12px;
}

.day-header {
  font-weight: 500;
  text-align: center;
  padding-bottom: 1rem;
  color: #adb5bd;
  font-size: 1rem;
}

.day {
  aspect-ratio: 1 / 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  
  border-radius: 12px;
  background-color: #fcfdff;
  border: 1px solid var(--border-color);
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.07);
    border-color: #dee2e6;
  }

  &.not-current-month {
    background-color: transparent;
    border: none;
    .day-number {
      color: #ced4da;
    }
    &:hover {
      transform: none;
      box-shadow: none;
      cursor: default;
    }
  }
}

// ESTILO PARA LA NUEVA ETIQUETA
.challenge-day-pill {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #e8eaf6;
  color: #3f51b5;
  padding: 0.2rem 0.5rem;
  border-radius: 8px;
  font-size: 0.7rem;
  font-weight: 600;
}


.day-number {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;

  &.today {
    color: var(--primary);
    font-weight: 600;
  }
}

.dots-container {
  position: static;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 4px;
}

.emotion-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.05);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;

  &:not(:first-child) {
    margin-left: -5px; 
  }
}